# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.


# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
# import re
# import scrapy

In [1]:
import requests as r
from bs4 import BeautifulSoup as bs4
import pandas as pd

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
def get_tags(url, tag, cls): return bs4(r.get(url).content, 'html.parser').find_all(tag, class_= cls)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [4]:
import re

In [5]:
l = [" ".join(re.sub("\n","", i.text).split()) for i in get_tags(url, 'h1','h3 lh-condensed')]

In [6]:
l

[]

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [7]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [8]:
l = [" ".join(re.sub("\n","", i.text).split()).split('/')[1].split()[0] for i in get_tags(url, 'h1','h3 lh-condensed')]

In [9]:
l

['streamlit',
 'DeepLearningExamples',
 'Python-100-Days',
 'whapa',
 'tldr',
 'machine_learning_examples',
 'spleeter',
 'tuya-convert',
 'you-get',
 'scikit-learn',
 'searx',
 'home-assistant',
 'matplotlib',
 'HASS-sonoff-ewelink',
 'ipwndfu',
 'UGATIT',
 'urh',
 'Osmedeus',
 'Sublist3r',
 'shadowsocks',
 'MusicBot',
 'linux-insides',
 'keras-tuner',
 'InstaPy',
 'Shadowrocket-ADBlock-Rules']

#### Display all the image links from Walt Disney wikipedia page

In [10]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [11]:
#generando URL completa de las imagenes
l = [("https://en.wikipedia.org" + i['href']) for i in get_tags(url, 'a','image')]

In [12]:
l[:5]

['https://en.wikipedia.org/wiki/File:Walt_Disney_1946.JPG',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_1942_signature.svg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_envelope_ca._1921.jpg',
 'https://en.wikipedia.org/wiki/File:Trolley_Troubles_poster.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg']

In [13]:
#comprobando existencia de recurso
l_status = [r.get(url) for url in l]

In [14]:
l_status

[<Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>]

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [15]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [16]:
response = r.get(url)
cont = response.content

In [17]:
soup = bs4(cont, 'html.parser')
l = soup.find_all('a', href=True)

In [18]:
l = [("https://en.wikipedia.org" + i['href']) for i in l if i["href"][0] != "#" if "https" not in i]

In [19]:
l[:8]

['https://en.wikipedia.orghttps://en.wiktionary.org/wiki/Python',
 'https://en.wikipedia.orghttps://en.wiktionary.org/wiki/python',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=1',
 'https://en.wikipedia.org/wiki/Pythonidae',
 'https://en.wikipedia.org/wiki/Python_(genus)',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=2',
 'https://en.wikipedia.org/wiki/Python_(mythology)',
 'https://en.wikipedia.org/wiki/Python_of_Aenus']

#### Number of Titles that have changed in the United States Code since its last release point

In [20]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [21]:
l = [" ".join(re.sub("\n","",i.text).split()) for i in get_tags(url, 'div','usctitlechanged')]

In [22]:
l

['Title 6 - Domestic Security', 'Title 31 - Money and Finance ٭']

#### A Python list with the top ten FBI's Most Wanted names

In [23]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [24]:
l = [re.sub("\n","",i.text) for i in get_tags(url, 'h3','title')]

In [25]:
l

['ALEXIS FLORES',
 'EUGENE PALMER',
 'SANTIAGO VILLALBA MEDEROS',
 'RAFAEL CARO-QUINTERO',
 'ROBERT WILLIAM FISHER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ARNOLDO JIMENEZ',
 'ALEJANDRO ROSALES CASTILLO',
 'YASER ABDEL SAID',
 'JASON DEREK BROWN']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [26]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [27]:
cont = r.get(url).content

In [28]:
df = pd.read_html(cont)

In [29]:
df[3].columns = df[3].columns.droplevel(level=1)

In [30]:
quakes_df = df[3].iloc[:,[3,4,6,11]]

In [31]:
quakes_df.dropna()[:20]

,Date & Time UTC,Latitude degrees,Longitude degrees,Last update [-]
0,2019-11-03 19:09:12.51hr 00min ago,37.82,29.53,WESTERN TURKEY
1,2019-11-03 18:55:29.41hr 14min ago,40.47,20.81,ALBANIA
2,2019-11-03 18:55:11.11hr 14min ago,37.26,14.53,"SICILY, ITALY"
3,2019-11-03 18:54:03.31hr 15min ago,35.67,117.53,SOUTHERN CALIFORNIA
4,2019-11-03 18:51:33.61hr 18min ago,38.35,38.91,EASTERN TURKEY
5,2019-11-03 18:50:40.91hr 19min ago,35.56,117.40,SOUTHERN CALIFORNIA
6,2019-11-03 18:42:07.01hr 27min ago,6.47,124.05,"MINDANAO, PHILIPPINES"
7,2019-11-03 18:34:31.31hr 35min ago,37.61,36.41,CENTRAL TURKEY
8,2019-11-03 18:30:16.61hr 39min ago,35.59,117.61,SOUTHERN CALIFORNIA
9,2019-11-03 18:29:20.01hr 40min ago,17.83,69.81,SOUTHERN PERU
10,2019-11-03 18:23:19.81hr 46min ago,69.36,143.29,NORTHERN ALASKA
11,2019-11-03 18:16:42.01hr 53min ago,24.09,67.56,"ANTOFAGASTA, CHILE"
12,2019-11-03 17:50:00.02hr 19min ago,18.29,105.32,"OFF COAST OF JALISCO, MEXICO"
13,2019-11-03 17:26:15.12hr 43min ago,35.78,117.62,SOUTHERN CALIFORNIA
14,2019-11-03 17:08:05.33hr 01min ago,35.63,117.46,SOUTHERN CALIFORNIA
15,2019-11-03 17:02:03.83hr 07min ago,23.35,179.24,SOUTH OF FIJI ISLANDS
16,2019-11-03 16:38:25.43hr 31min ago,14.71,171.71,VANUATU REGION
17,2019-11-03 16:35:38.93hr 34min ago,36.13,97.82,OKLAHOMA
18,2019-11-03 16:34:43.63hr 35min ago,38.35,38.93,EASTERN TURKEY
19,2019-11-03 16:31:05.83hr 38min ago,12.81,45.37,MAYOTTE REGION

#### Display the date, and title of upcoming hackathon events as a Pandas dataframe table

In [32]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [33]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [34]:
#your code

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [35]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [36]:
#your code

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [77]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [78]:
langs = get_tags(url, 'a', 'link-box')

In [79]:
langs_text = [l.text.replace('\n', ' ').replace('\xa0',',') for l in langs]

In [80]:
langs_text

[' English 5,960,000+ articles ',
 ' Español 1,553,000+ artículos ',
 ' 日本語 1,174,000+ 記事 ',
 ' Deutsch 2,358,000+ Artikel ',
 ' Русский 1,575,000+ статей ',
 ' Français 2,149,000+ articles ',
 ' Italiano 1,561,000+ voci ',
 ' 中文 1,079,000+ 條目 ',
 ' Português 1,014,000+ artigos ',
 ' Polski 1,366,000+ haseł ']

#### A list with the different kind of datasets available in data.gov.uk

In [81]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [92]:
datasets = get_tags(url, 'h2', None)

In [93]:
titles = [dataset.text for dataset in datasets]

In [94]:
titles

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [95]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [99]:
cont = r.get(url).content
table = pd.read_html(cont)[0]

In [104]:
table[:10].set_index('Rank')

,Language,Country of Origin,TotalCountries[a],Speakers(millions),% of the World population (March 2019)[8],Language familyBranch
Rank,,,,,,
1,Mandarin (language family)[9],China,13,918.0,11.922,Sino-TibetanSinitic
2,Spanish,Spain,31,480.0,5.994,Indo-EuropeanRomance
3,English,United Kingdom,137,379.0,4.922,Indo-EuropeanGermanic
4,Hindi[10],India,4,341.0,4.429,Indo-EuropeanIndo-Aryan
5,Bengali,Bangladesh,4,228.0,2.961,Indo-EuropeanIndo-Aryan
6,Portuguese,Portugal,15,221.0,2.870,Indo-EuropeanRomance
7,Russian,Russian Federation,19,154.0,2.000,Indo-EuropeanBalto-Slavic
8,Japanese,Japan,2,128.0,1.662,JaponicJapanese
9,Western Punjabi[11],Pakistan,2,92.7,1.204,Indo-EuropeanIndo-Aryan
10,Marathi,India,1,83.1,1.079,Indo-EuropeanIndo-Aryan

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [43]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [44]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [45]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [46]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [105]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

Enter the city:monterrey

In [129]:
import json

resp = r.get(url)

json_data = json.loads(resp.text)

In [149]:
data = json_normalize(json_data)
data

,base,clouds.all,cod,coord.lat,coord.lon,dt,id,main.humidity,main.pressure,main.temp,...,sys.country,sys.id,sys.sunrise,sys.sunset,sys.type,timezone,visibility,weather,wind.deg,wind.speed
0,stations,75,200,25.67,-100.32,1572813260,3995465,52,1019,19.73,...,MX,7152,1572785440,1572825536,1,-21600,24140,"[{'id': 803, 'main': 'Clouds', 'description': ...",110,6.2

In [151]:
weather_col = json.dumps(data.weather[0][0])

In [155]:
weather_col = json.loads(weather_col)
weather_col = json_normalize(weather_col)

In [156]:
weather_col

     description icon   id    main
0  broken clouds  04d  803  Clouds

#### Book name, price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code